<%- include("./partials/header") %>
    <div class="container-fluid" style="padding-top: 50px">
        <div class="row">
            <div class="col-md-12">
                <h2 style="padding-bottom: 30px;">Make Order</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Product Image</th>
                            <th scope="col">Product Name</th>
                            <th scope="col">Product Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% data.forEach(product => { %>
                            <tr>
                                <td>
                                    <img src="img/products/<%= product.name %>.png" alt="">
                                </td>
                                <td><%= product.name %></td>
                                <td>$<%= product.price %></td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
                <h2>Total: $<%= total %></h2>
                <a href="/cart" class="btn btn-secondary">Go Back</a>
                <% if(data.length > 0) { %>
                    <a href="/pay?name=<%= name %>&total=<%= total %>" class="btn btn-primary">Pay</a>
                <% } %>
            </div>
        </div>
    </div>
<%- include("./partials/footer") %>